<div class="user-details" style="text-align: center;">
  <h1> My Expertise </h1>
  <p> </p>
</div>
<div class="user" style="display: flex; justify-content: space-between; width: 60%; margin: 0 auto;">
  <div class="tech" style="width: 33%; box-sizing: border-box;">
    <h2>Design</h2>
    <p>Creates visually appealing and user-centric designs. Blends aesthetics with functionality for exceptional UX.</p>
  </div>
  <div class="tech" style="width: 33%; box-sizing: border-box;">
    <h2>Develop</h2>
    <p>Writes clean and efficient code. Utilizes a variety of development and design tools proficiently.</p>
  </div>
  <div class="tech" style="width: 33%; box-sizing: border-box;">
    <h2>Monetize</h2>
    <p>Understands and implements business strategies that align technical solutions with business goals.</p>
  </div>
</div>
