<div class="user-details" style="text-align: center;">
  <h1>Expertise</h1>
  <p></p>
</div>
<div class="user" style="display: flex; flex-wrap: wrap; justify-content: space-around; margin: 0 auto;">
  <div class="tech" style="flex: 1 1 100%; max-width: 300px; margin: 10px; box-sizing: border-box;">
    <h2>Design</h2>
    <p>Visually appealing and user-centric designs, blending aesthetics with functionality for exceptional UX.</p>
  </div>
  <div class="tech" style="flex: 1 1 100%; max-width: 300px; margin: 10px; box-sizing: border-box;">
    <h2>Develop</h2>
    <p>Full-stack x-platform app development utilizing cutting edge programming and design tools.</p>
  </div>
  <div class="tech" style="flex: 1 1 100%; max-width: 300px; margin: 10px; box-sizing: border-box;">
    <h2>Monetize</h2>
    <p>Business model expertise and strategies that align technical solutions with investor expectations.</p>
  </div>
</div>
