<! --
<div class="user-details">
  <h1> My Expertise </h1>
  <p>  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <p>Creates visually appealing and user-centric designs.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <p>Writes clean and efficient code.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p>Utilizes a variety of development and design tools proficiently.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p>MBA. Understands and implements business strategies that align technical solutions with business goals.</p>
    </div>
</div>
-->
