<div class="user-details">
  <h1> Featured Project </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="TIQRZ.com" src="{{ "/assets/img/TIQRZ_project.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project: TIQRZ.com </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Full stack app development for iOS and Android. Process gamification. API development and integration. Proprietary financial scanning algorhytms. Branding, Business & Legal.</p>
    <a class="project-link" href="httsp://tiqrz.com">Check it out</a>
  </div>
</div>
